*{
    margin: 0;
    padding: 0;
}


body{
    border: 1px solid black;
    display: flex;
    min-height: 100vh;
    min-height: 100vh;
}

.barra-lateral{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(226, 0, 0);
}


.seccion-principal{
    flex-grow: 1;
    border: 1px solid rgb(0, 8, 255);
}

@media (max-width: 640px){
    body{
        flex-direction:column-reverse;
    }
    .barra-lateral{
        flex-direction: row;
        justify-content: space-around;
    }
}
